extends ../layout
block body
    include ../includes/banner
    nav.nav
        div.navContent
            div.header
                h1 生成链接
                ul.tabs
                    li: a.selected 列表
            include ../includes/login
    div.main
        section
            p 设置站点与模版的对应关系，设置后可点击查看代码获取站点代码。
            div.row-fluid
                div.span10
                    table.table.table-bordered.table-striped
                        thead
                            tr
                                th(style="text-align: center;") #行号
                                th(style="text-align: left;") 公司名称
                                th(style="text-align: left;") 站点名称
                                th(style="text-align: left;") 联系人
                                th(style="text-align: left;") 联系电话
                                th(style="text-align: left;") 电子邮件
                                th(style="text-align: left;") 设置模版
                                th(style="text-align: center;") 页面嵌入代码
                        tbody#siteBody
                            tr
                                td(colspan="8",style="text-align: center;") 正在加载...
                    div.pagination.pagination-right
                        ul#sitePaginator

                div.span2
                    div#siteModal.modal.hide(tabindex="-1", role="dialog",aria-labelledby="siteLabel",aria-hidden="true")
                        div.modal-header
                            button.close(type="button",data-dismiss="modal",aria-hidden="true") ×
                            h3#tplLabel 访问控制-属性
                        div.modal-body
                            div.alert.alert-error.hide 一切正常
                            form.form-horizontal
                                div.control-group
                                    label.control-label(for="siteCompanyName") 公司名称
                                    div.controls
                                        input#siteCompanyName(type="text",placeholder="例: 齐鲁证券")
                                        span.help-inline.hide 公司名称不能为空.
                                div.control-group
                                    label.control-label(for="siteName") 站点名称
                                    div.controls
                                        input#siteName(type="text",placeholder="例: 融易网")
                                        span.help-inline.hide 站点名称不得为空.
                                div.control-group
                                    label.control-label(for="siteContact") 联系人(可选)
                                    div.controls
                                        input#siteContact(type="text",placeholder="")
                                        span.help-inline.hide 联系人不能为空.
                                div.control-group
                                    label.control-label(for="siteTel") 联系电话(可选)
                                    div.controls
                                        input#siteTel(type="text",placeholder="")
                                        span.help-inline.hide 联系电话不能为空.
                                div.control-group
                                    label.control-label(for="siteEmail") 电子邮件(可选)
                                    div.controls
                                        input#siteEmail(type="text",placeholder="")
                                        span.help-inline.hide 电子邮件不能为空.
                                div.control-group
                                    label.control-label(for="siteTemplate") 设置模版
                                    div.controls
                                        select#siteTemplate
                                        span.help-inline.hide 请选择一个模版.
                                        div#siteTplPreView(style="padding-top:5px;")

                        div.modal-footer
                            button.btn(data-dismiss="modal",aria-hidden="true") 关闭
                            button#siteSave.btn.btn-primary 保存
                    button#siteAdd.btn.btn-block.btn-success(type="button") 添加
                    button#siteEdit.btn.btn-block.btn-primary(type="button") 编辑
                    button#siteRemove.btn.btn-block.btn-danger(type="button") 删除
            div#siteCode.modal.hide(tabindex="-1", role="dialog",aria-labelledby="siteCodeLabel",aria-hidden="true")
                div.modal-header
                    button.close(type="button",data-dismiss="modal",aria-hidden="true") ×
                    h3#siteCodeLabel 站点代码
                div.modal-body
                    p 请将以下代码嵌入到您的网站首页：
                    pre &lt;script src="http://iclick.cloudfoundry.com/js/abceffgh.js"&gt;&lt;/script&gt;
                        br
                        |&lt;script id="iclick-renderer" data-site-id="
                        span#siteId
                        |" src="http://iclick.cloudfoundry.com/show.js" &gt;&lt;/script&gt;
                        br
                        |&lt;script&gt;
                        br
                        |_iclick.show(
                        span(style="color:#D14") @elementid
                        |,
                        span(style="color:#D14")@userinfo
                        |,
                        span(style="color:#D14")@loginurl
                        |);
                        br
                        |&lt;/script&gt;
                    p 其中需要提供两个参数：
                        br
                        code @elementid
                        |为包含一点通显示内容的标签id，标签的位置决定一点通显示的位置
                        br
                        code @userinfo
                        |为用户信息，请按照'姓名,年龄,性别'的格式，将客户信息传入
                        br
                        code @loginurl
                        |为网站的登录页面地址，当需要获取用户信息，而@userinfo参数没有提供有效数据的时候，将会打开本url指定的页面。
                        br
                        br
                        |示例如下：
                        br
                        |_iclick.show('response','小明,32,男','http://www.95538.cn');
                        br
                        |或
                        br
                        |_iclick.show('response','','http://www.95538.cn');
                        br
                        |或
                        br
                        |_iclick.show('response','小明,32,男','');
                        br
                        |或
                        br
                        |_iclick.show('response','','');

                div.modal-footer
                    button.btn(data-dismiss="modal",aria-hidden="true") 关闭

block script
    script(src='/js/datejs.js')
    script
        $(function () {
            //------------------site
            $('#siteAdd').on('click',function(){
                clearSiteForm();
                $('#siteModal').removeData('item');
                $('#siteModal').modal('show');
            });

            $('#siteTemplate').on('change',function(){
                var item = $('#siteTemplate option:selected').data('item');
                if(item){
                    $('#siteTplPreView').html(item.preView);
                }else{
                    $('#siteTplPreView').html('');
                }
            });

            $('#siteEdit').on('click',function(){
                var tr = $('#siteBody tr.warning')[0];
                if(!tr){
                    alert('请选择一行进行编辑');
                    return ;
                }
                var item = $.data(tr,'item');
                $('#siteCompanyName').val(item.companyName);
                $('#siteName').val(item.siteName);
                //$('#siteHost').val(item.host);
                $('#siteContact').val(item.contact);
                $('#siteTel').val(item.tel);
                $('#siteEmail').val(item.email);
                $('#siteTemplate').val(item.template).change();

                $('#siteModal').data('item',item);
                $('#siteModal').modal('show');
            });

            $('#siteSave').on('click',function(){

                var param = {};
                param = $.extend(param,$('#siteModal').data('item'));
                var companyName = $('#siteCompanyName').val();
                var siteName = $('#siteName').val();
                var host = '';//$('#siteHost').val();
                var contact = $('#siteContact').val();
                var tel = $('#siteTel').val();
                var email = $('#siteEmail').val();
                var item = $('#siteTemplate option:selected').data('item');

                if(!companyName || !siteName || !item){
                    if(!companyName){
                        $('#siteCompanyName').parent().parent().addClass('error');
                        $('#siteCompanyName').next().show();
                    }
                    if(!siteName){
                        $('#siteName').parent().parent().addClass('error');
                        $('#siteName').next().show();
                    }
                    if(!item){
                        $('#siteTemplate').parent().parent().addClass('error');
                        $('#siteTemplate').next().show();
                    }
                    return;
                }
                param = $.extend(param,{
                    companyName: companyName,
                    siteName: siteName,
                    host: host,
                    contact: contact,
                    tel: tel,
                    email: email,
                    template: item._id
                });
                $.ajax({
                    type: 'POST',
                    url: '/manage/accessControl/save',
                    data: param,
                    dataType: 'text',
                    cache: false
                }).done(function(result){
                    if(param._id){
                        loadSite();
                    }else{
                        loadSite(0);
                    }

                    $('#siteModal').modal('hide');
                    clearSiteForm();
                }).fail(function(data){
                    $('#siteModal .modal-body .alert-error').show().text(data.statusText + ': ' + data.responseText);
                });
            });

            $('#siteRemove').on('click',function(){
                var tr = $('#siteBody tr.warning')[0];
                if(!tr){
                    alert('请选择一行进行删除');
                    return ;
                }
                var item = $.data(tr,'item');
                if(!confirm('你确定要删除吗?')){
                    return;
                }
                $.ajax({
                    type: 'Get',
                    url: '/manage/accessControl/remove',
                    data: {
                        _id: item._id
                    },
                    dataType: 'text',
                    cache: false
                }).done(function(result){
                    loadSite();
                }).fail(function(data){
                    console.log(data.statusText + ': ' + data.responseText);
                });
            });

            $('#siteBody').on('click', 'tr', function(){
                $('#siteBody tr').removeClass('warning');
                $(this).addClass('warning');
            });
            loadSite(0,10);
            loadTpl();

        });
        function clearSiteForm(){
            $('#siteCompanyName').parent().parent().removeClass('error');
            $('#siteCompanyName').next().hide();
            $('#siteCompanyName').val('');
            $('#siteName').parent().parent().removeClass('error');
            $('#siteName').next().hide();
            $('#siteName').val('');
            $('#siteContact').parent().parent().removeClass('error');
            $('#siteContact').next().hide();
            $('#siteContact').val('');
            $('#siteTel').parent().parent().removeClass('error');
            $('#siteTel').next().hide();
            $('#siteTel').val('');
            $('#siteEmail').parent().parent().removeClass('error');
            $('#siteEmail').next().hide();
            $('#siteEmail').val('');
            $('#siteTemplate').parent().parent().removeClass('error');
            $('#siteTemplate').next().hide();
            $('#siteTemplate').val('').change();
            $('#siteModal .modal-body .alert-error').hide();
        }

        function getItemCreateTime(objectId){
            var str = objectId.toString().slice(0,8);
            var time = parseInt(str,16) * 1000;
            return new Date(time).toString('yyyy-MM-dd HH:mm:ss');
        }

        function loadSite(pageNo, pageSize){

            if(pageNo >= 0){
                $('#sitePaginator').data('pageNo',pageNo);
            }else{
                pageNo = $('#sitePaginator').data('pageNo');
                pageNo = pageNo >=0 ? pageNo : 0;
            }
            if(pageSize >= 1){
                $('#sitePaginator').data('pageSize',pageSize);
            }else{
                pageSize = $('#sitePaginator').data('pageSize');
                pageSize = pageSize >=1 ? pageSize : 10;
            }

            $.ajax({
                url: '/manage/accessControl/list',
                dataType: 'json',
                data: {
                pageNo: pageNo,
                pageSize: pageSize
                },
                cache: false
            }).done(function(result){
                renderPaginator('sitePaginator', pageNo,result.totalCount,pageSize,loadSite);

                var trHtmls = [];
                $.each(result.items, function(index,item){
                    trHtmls.push('<tr>');
                    trHtmls.push('<td style="width: 50px;text-align: center;">');
                    trHtmls.push(pageNo * pageSize +index+1);
                    trHtmls.push('</td>');
                    trHtmls.push('<td>');
                    trHtmls.push(item.companyName);
                    trHtmls.push('</td>');
                    trHtmls.push('<td>');
                    trHtmls.push(item.siteName);
                    trHtmls.push('</td>');
                    trHtmls.push('<td>');
                    trHtmls.push(item.contact);
                    trHtmls.push('</td>');
                    trHtmls.push('<td>');
                    trHtmls.push(item.tel);
                    trHtmls.push('</td>');
                    trHtmls.push('<td>');
                    trHtmls.push('<a style="color: #08C;" href="mailto:');
                    trHtmls.push(item.email);
                    trHtmls.push('?投资一点通网站嵌入代码" >');
                    trHtmls.push(item.email);
                    trHtmls.push('</a>');
                    trHtmls.push('</td>');
                    trHtmls.push('<td>');
                    trHtmls.push(item.templateName);
                    trHtmls.push('</td>');
                    trHtmls.push('<td style="width: 100px;text-align: center;">');
                    trHtmls.push('<button type="button" data-site-id="');
                    trHtmls.push(item._id);
                    trHtmls.push('" class="btn btn-small btn-info">查看代码</button>');
                    trHtmls.push('</td>');
                    trHtmls.push('</tr>');
                });

                $('#siteBody').empty().html(trHtmls.join(''));

                $.each($('#siteBody tr'), function(index, tr){
                    $.data(tr,'item', result.items[index]);
                });

                $('#siteBody').on('click','.btn',function(e){
                    var id = $(this).data('site-id');
                    console.log(id);
                    $('#siteId').text(id);
                    $('#siteCode').modal('show');
                });
            });
        }

        function loadTpl(){

            $.ajax({
            url: '/manage/template/list',
            dataType: 'json',
            cache: false
            }).done(function(items){

                var trHtmls = [];
                var optionHtmls = ['<option>选择...</option>'];
                $.each(items, function(index,item){
                    trHtmls.push('<tr>');
                    trHtmls.push('<td style="width: 50px;text-align: center;">');
                    trHtmls.push(index+1);
                    trHtmls.push('</td>');
                    trHtmls.push('<td style="width: 150px;text-align: center;">');
                    trHtmls.push(item.name);
                    trHtmls.push('</td>');
                    trHtmls.push('<td>');
                    trHtmls.push(item.preView);
                    trHtmls.push('</td>');
                    trHtmls.push('</tr>');

                    optionHtmls.push('<option value="');
                    optionHtmls.push(item._id);
                    optionHtmls.push('">');
                    optionHtmls.push(item.name);
                    optionHtmls.push('</option>');

                });


                $('#siteTemplate').empty().html(optionHtmls.join(''));
                $.each($('#siteTemplate option'), function(index, option){
                    $.data(option,'item', items[index-1]);
                });
            });
        }


        function renderPaginator(ulId,pageNo, totalCount, pageSize ,load){
            var $ul = $('#'+ulId).empty();
            var totalPage = totalCount % pageSize === 0 ? parseInt(totalCount/pageSize) : parseInt(totalCount/pageSize) + 1;
            totalPage = totalPage ? totalPage : 0;
            if(totalPage === 0){
                pageNo = 0;
            }else if(pageNo > totalPage){
                pageNo = totalPage;
            }else if(pageNo < 1 && totalPage != 0){
                pageNo = 0;
            }
            //
            var $prev = $('<li><a>«</a></li>');
            if(pageNo<=0){
                $prev.addClass('disabled');
            }else{
                $prev.find('a').on('click', function(e){
                    e.preventDefault();
                    load(pageNo-1,pageSize)
                });
            }
            $ul.append($prev);
            /////
            var list = [1];
            if(pageNo+1 > 4 ){
                list.push('...');
            }
            for(var i= 0; i < 5; i++){
                var no = pageNo - 1 + i;
                if(no > 1 && no <= totalPage-1){
                    list.push(no);
                }
            }
            if(pageNo+2 < totalPage-1){
                list.push('...');
            }
            if(totalPage>1){
                list.push(totalPage);
            }
            $.each(list, function(index, item){
                var $li = $('<li><a></a></li>');
                if(item === '...'){
                    $li.find('a').text('...');
                }else if(item === pageNo+1){
                    $li.addClass('active').find('a').text(item);
                }else{
                    $li.find('a').text(item).prop('title','第'+item+'页').on('click', function(e){
                        e.preventDefault();
                        load(item-1,pageSize);
                    });
                }
                $ul.append($li);
            });
            //
            var $next = $('<li><a title="下一页">»</a></li>');
            if(pageNo+1>=totalPage){
                $next.addClass('disabled');
            }else{
                $next.find('a').on('click', function(e){
                    e.preventDefault();
                    load(pageNo+1,pageSize);
                });
            }
            $ul.append($next);
        }
        var getLocation = function(href) {
            var l = document.createElement("a");
            l.href = href;
            return l;
        };

