extends ../layout
block body
    include ../includes/banner
    nav.nav
        div.navContent
            div.header
                h1 内容管理
                ul.tabs
                    li: a.selected 列表
            include ../includes/login
    div.main
        section
            p 描述
            div.row-fluid
                div.span10
                    table.table.table-bordered.table-striped
                        thead
                            tr
                                th(style="text-align: center;") #行号
                                th(style="text-align: center;") 发布时间
                                th 内容连接 (高亮为红色)
                        tbody#tzydtBody
                            tr
                                td(colspan="3",style="text-align: center;") 正在加载...
                    div.pagination.pagination-right
                        ul#tzydtPaginator
                            li
                                a(href="#") «
                            li
                                a(href="#") 1
                            li
                                a(href="#") 2
                            li
                                a(href="#") 3
                            li
                                a(href="#") 4
                            li
                                a ...
                            li
                                a(href="#") 12
                            li
                                a(href="#") »
                div.span2
                    div#tzydtModal.modal.hide(tabindex="-1", role="dialog",aria-labelledby="tzydtLabel",aria-hidden="true")
                        div.modal-header
                            button.close(type="button",data-dismiss="modal",aria-hidden="true") ×
                            h3#tzydtLabel 投资一点通-属性
                        div.modal-body
                            div.alert.alert-error.hide 一切正常
                            form.form-horizontal
                                div.control-group
                                    label.control-label(for="tzydtTitle") 标题
                                    div.controls
                                        input#tzydtTitle(type="text",placeholder="标题")
                                        span.help-inline.hide 标题不能为空.
                                div.control-group
                                    label.control-label(for="tzydtTargetUrl") 目标地址
                                    div.controls
                                        input#tzydtTargetUrl(type="text",placeholder="http://www.example.com")
                                        span.help-inline.hide 目标地址不能为空.
                                div.control-group
                                    div.controls
                                        label.checkbox
                                            input#tzydtHighlight(type="checkbox")
                                            span 是否高亮
                        div.modal-footer
                            button.btn(data-dismiss="modal",aria-hidden="true") 关闭
                            button#tzydtSave.btn.btn-primary 保存
                    button#tzydtAdd.btn.btn-block.btn-success(type="button") 添加
                    button#tzydtEdit.btn.btn-block.btn-primary(type="button") 编辑
                    button#tzydtRemove.btn.btn-block.btn-danger(type="button") 删除


block script
    script(src='/js/datejs.js')
    script
        $(function () {
            $('#tzydtAdd').on('click',function(){
            clearTzydtForm();
            $('#tzydtModal').removeData('item');
            $('#tzydtModal').modal('show');
        });

        $('#tzydtEdit').on('click',function(){
            var tr = $('#tzydtBody tr.warning')[0];
            if(!tr){
                alert('请选择一行进行编辑');
                return ;
            }
            var item = $.data(tr,'item');
            $('#tzydtTitle').val(item.title);
            $('#tzydtTargetUrl').val(item.targetUrl);
            $('#tzydtHighlight')[0].checked = item.highlight;

            $('#tzydtModal').data('item',item);
            $('#tzydtModal').modal('show');
        });

        $('#tzydtSave').on('click',function(){

            var param = {};
            param = $.extend(param,$('#tzydtModal').data('item'));
            var title = $('#tzydtTitle').val();
            var targetUrl = $('#tzydtTargetUrl').val();
            var highlight = $('#tzydtHighlight')[0].checked;
            if(!title || !targetUrl){
                if(!title){
                    $('#tzydtTitle').parent().parent().addClass('error');
                    $('#tzydtTitle').next().show();
                }
                if(!targetUrl){
                    $('#tzydtTargetUrl').parent().parent().addClass('error');
                    $('#tzydtTargetUrl').next().show();
                }
                return;
            }
            param = $.extend(param,{
                title: title,
                targetUrl: targetUrl,
                highlight: highlight ? 1: 0
            });
            $.ajax({
                type: 'POST',
                url: '/manage/article/save',
                data: param,
                dataType: 'text',
                cache: false
            }).done(function(result){
                if(param._id){
                    loadTzydt();
                }else{
                    loadTzydt(0);
                }

                $('#tzydtModal').modal('hide');
                clearTzydtForm();
            }).fail(function(data){
                $('#tzydtModal .modal-body .alert-error').show().text(data.statusText + ': ' + data.responseText);
                });
            });

            $('#tzydtRemove').on('click',function(){
                var tr = $('#tzydtBody tr.warning')[0];
                if(!tr){
                    alert('请选择一行进行删除');
                    return ;
                }
                var item = $.data(tr,'item');
                if(!confirm('你确定要删除吗?')){
                    return;
                }
                $.ajax({
                    type: 'Get',
                    url: '/manage/article/remove',
                    data: {
                        _id: item._id
                    },
                    dataType: 'text',
                    cache: false
                }).done(function(result){
                    loadTzydt();
                }).fail(function(data){
                    console.log(data.statusText + ': ' + data.responseText);
                });
            });

            $('#tzydtBody').on('click', 'tr', function(){
                $('#tzydtBody tr').removeClass('warning');
                $(this).addClass('warning');
            });

            loadTzydt(0,10);

        });
        function getItemCreateTime(objectId){
            var str = objectId.toString().slice(0,8);
            var time = parseInt(str,16) * 1000;
            return new Date(time).toString('yyyy-MM-dd HH:mm:ss');
        }
        function clearTzydtForm(){
            $('#tzydtPubDate').parent().parent().removeClass('error');
            $('#tzydtPubDate').next().hide();
            $('#tzydtPubDate').val('');
            $('#tzydtTitle').parent().parent().removeClass('error');
            $('#tzydtTitle').next().hide();
            $('#tzydtTitle').val('');
            $('#tzydtTargetUrl').parent().parent().removeClass('error');
            $('#tzydtTargetUrl').next().hide();
            $('#tzydtTargetUrl').val('');
            $('#tzydtHighlight')[0].checked = false;
            $('#tzydtModal .modal-body .alert-error').hide();
        }

        function loadTzydt(pageNo, pageSize){

            if(pageNo >= 0){
                $('#tzydtPaginator').data('pageNo',pageNo);
            }else{
                pageNo = $('#tzydtPaginator').data('pageNo');
                pageNo = pageNo >=0 ? pageNo : 0;
            }
            if(pageSize >= 1){
                $('#tzydtPaginator').data('pageSize',pageSize);
            }else{
                pageSize = $('#tzydtPaginator').data('pageSize');
                pageSize = pageSize >=1 ? pageSize : 10;
            }

            $.ajax({
                url: '/manage/article/list',
                dataType: 'json',
                data: {
                pageNo: pageNo,
                pageSize: pageSize
                },
                cache: false
            }).done(function(result){
                renderPaginator('tzydtPaginator', pageNo,result.totalCount,pageSize,loadTzydt);

                var trHtmls = [];
                $.each(result.items, function(index,item){
                    trHtmls.push('<tr>');
                    trHtmls.push('<td style="width: 50px;text-align: center;">');
                    trHtmls.push(pageNo * pageSize +index+1);
                    trHtmls.push('</td>');
                    trHtmls.push('<td style="width: 150px;text-align: center;">');
                    trHtmls.push(getItemCreateTime(item._id));
                    trHtmls.push('</td>');
                    trHtmls.push('<td>');
                    trHtmls.push('<a  href="');
                    trHtmls.push(item.targetUrl);
                    trHtmls.push('" ');
                    if(item.highlight){
                        trHtmls.push('style="color: #B94A48;" ');
                    }else{
                        trHtmls.push('style="color:#08C;" ');
                    }
                    trHtmls.push('>');
                    trHtmls.push(item.title);
                    trHtmls.push('</a>');
                    trHtmls.push('</td>');
                    trHtmls.push('</tr>');
                });

                $('#tzydtBody').empty().html(trHtmls.join(''));

                $.each($('#tzydtBody tr'), function(index, tr){
                    $.data(tr,'item', result.items[index]);
                });
            });
        }

        function renderPaginator(ulId,pageNo, totalCount, pageSize ,load){
            var $ul = $('#'+ulId).empty();

            var totalPage = totalCount % pageSize === 0 ? parseInt(totalCount/pageSize) : parseInt(totalCount/pageSize) + 1;
            totalPage = totalPage ? totalPage : 0;
            if(totalPage === 0){
                pageNo = 0;
            }else if(pageNo > totalPage){
                pageNo = totalPage;
            }else if(pageNo < 1 && totalPage != 0){
                pageNo = 0;
            }
            //
            var $prev = $('<li><a>«</a></li>');
            if(pageNo<=0){
                $prev.addClass('disabled');
            }else{
                $prev.find('a').on('click', function(e){
                    e.preventDefault();
                    load(pageNo-1,pageSize)
                });
            }
            $ul.append($prev);
            /////
            var list = [1];
            for(var i= 0; i < 5; i++){
                var no = pageNo - 2 + i;

                if(i==0 && no > 3){
                    list.push('...');
                }
                if(no > 1 && no <= totalPage-1){
                    list.push(no);
                }
            }

            if(pageNo+2 < totalPage-1){
                list.push('...');
            }
            if(totalPage>1){
                list.push(totalPage);
            }

            $.each(list, function(index, item){
                var $li = $('<li><a></a></li>');
                if(item === '...'){
                    $li.find('a').text('...');
                }else if(item === pageNo+1){
                    $li.addClass('active').find('a').text(item);
                }else{
                    $li.find('a').text(item).prop('title','第'+item+'页').on('click', function(e){
                        e.preventDefault();
                        load(item-1,pageSize);
                    });
                }
                $ul.append($li);
            });

            //
            var $next = $('<li><a title="下一页">»</a></li>');
            if(pageNo+1>=totalPage){
                $next.addClass('disabled');
            }else{
                $next.find('a').on('click', function(e){
                    e.preventDefault();
                    load(pageNo+1,pageSize);
                });
            }
            $ul.append($next);

        }