extends ../layout
block style
    link(rel='stylesheet', href='/bootstrap/css/datepicker.css')
    style
        .chart{
            min-width: 400px;
            height: 400px;
            margin: 0 auto ;
            position: relative;
        }
        .loading{
            font-size: 40px;
            position: absolute;
            top: 100px;
            left: 300px;
            color: #c0c0c0;
        }

block body
    include ../includes/banner
    nav.nav
        div.navContent
            div.header
                h1 访问统计
                ul.tabs
                    li: a.selected(href="countCharts") 流量统计
                    li: a(href="maps") 地址分布
                    li: a(href="siteCount") 公司访问
            include ../includes/login
    div.main
        section
            div#dayChart.chart
                span.loading 正在载入，请稍后...
        div#detailChartsModal.modal.hide(tabindex="-1", role="dialog",aria-labelledby="detailChartsLabel",aria-hidden="true",style="width:650px;")
            div.modal-header
                button.close(type="button",data-dismiss="modal",aria-hidden="true") ×
                h3#detailChartsLabel 流量统计
            div.modal-body
                div#loading(style='text-align: center;')
                    img(src='/img/loading7.gif')
                div#pieChart
            div.modal-footer
                button.btn(data-dismiss="modal",aria-hidden="true") 关闭


block script
    script(src='/js/highcharts/highcharts.js')
    script(src='/bootstrap/js/bootstrap-datepicker.js')
    script(src='/bootstrap/js/bootstrap-datepicker.zh-CN.js')
    script

        $(function () {

            $.ajax({
                url: '/manage/statistics/dayCount',
                dataType: 'json',
                cache: false
            }).done(function(result){
                var chart = new Highcharts.Chart({
                    chart: {
                        renderTo: 'dayChart',
                        type: 'line'
                    },
                    title: {
                        text: '每日流量统计',
                        x: -20 //center
                    },
                    subtitle: {
                        text: '最近一个月的访问计数',
                        x: -20
                    },
                    xAxis: {
                        categories: result.categories,
                        labels: {
                            step: result.step,
                            formatter: function() {
                                if(this.value && this.value.length > 5){
                                    return this.value.substr(5);
                                }else{
                                    return this.value;
                                }

                            }
                        }
                    },
                    yAxis: {
                        title: {
                            text: '访问量(PV)'
                        },
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }]
                    },
                    tooltip: {
                        formatter: function() {
                            return '<b>'+ this.series.name +'</b><br/>'+
                            this.x +': '+ this.y + '次';
                        }
                    },
                    plotOptions: {
                        line: {
                            dataLabels: {
                                enabled: true
                            },
                            enableMouseTracking: true
                        },
                        series: {
                            cursor: 'pointer',
                            point: {
                                events: {
                                    click: function() {
                                        showPieChart(this.category);
                                    }
                                }
                            },
                            marker: {
                                lineWidth: 1
                            }
                        }
                    },
                    series: [{
                        name: '日流量',
                        data: result.data
                    }],
                    credits: {
                        enabled: false
                    }
                });
            });



        });

        function showPieChart(date){
            $('#loading').show();
            $('#pieChart').empty();
            $('#detailChartsLabel').text(date+'流量统计');
            $.ajax({
                url: '/manage/statistics/daySiteCount',
                dataType: 'json',
                data:{
                    date:date
                },
                cache: false
            }).done(function(result){
                var chart = new Highcharts.Chart({
                    chart: {
                        renderTo: 'pieChart',
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false
                    },
                    title: {
                        text: '流量组成'
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.y}次</b>',
                        percentageDecimals: 1
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                color: '#000000',
                                connectorColor: '#000000',
                                formatter: function() {
                                    return '<b>'+ this.point.name +'</b>: '+ this.percentage.toFixed(1) +' %';
                                }
                            }
                        }
                    },
                    series: [{
                        type: 'pie',
                        name: '访问次数',
                        data: result.data
                    }],
                    credits: {
                        enabled: false
                    }
                });
                $('#loading').hide();
            });

            $('#detailChartsModal').modal('show');
        }


