extends ../layout
block style
    style
        .chart{
            min-width: 400px;
            height: 400px;
            margin: 0 auto ;
        }

        .maps{
            min-width: 400px;
            height: 600px;
            margin: 0 auto ;
            border: 1px solid #b8bcc0;
            margin-bottom: 40px;
        }
        .labels {
            color: black;
            background-color: #fff;
            font-weight: bold;
            text-align: center;
            width: 40px;
            border: 1px solid #ccc;
            margin-bottom: 40px;
        }

block body
    include ../includes/banner
    nav.nav
        div.navContent
            div.header
                h1 访问统计
                ul.tabs
                    li: a.selected 流量统计
                    li: a 地址分布
                    li: a 公司访问
            include ../includes/login
    div.main
        section
            p 描述
            div#dayChart.chart
        section(style='display:none;')
            p 描述
            div#map_canvas.maps
        section(style='display:none;')
            p 描述
            table.table.table-bordered.table-striped
                thead
                    tr
                        th(style="text-align: center;") #行号
                        th(style="text-align: center;") 时间
                        th(style="text-align: center;") 公司名
                        th(style="text-align: center;") 域名
                        th(style="text-align: right;") 访问量(PV)
                tbody#companyBody
                    tr
                        td(colspan="4",style="text-align: center;") 正在加载...
            div.pagination.pagination-right
                ul#companyPaginator
                    li
                        a(href="#") «
                    li
                        a(href="#") 1
                    li
                        a(href="#") 2
                    li
                        a(href="#") 3
                    li
                        a(href="#") 4
                    li
                        a ...
                    li
                        a(href="#") 12
                    li
                        a(href="#") »

block script
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBrDF1WpWGJlzMyNUs4rOZ-Lgz3nNYb6PQ&sensor=true')
    script(src='http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerwithlabel/1.1.7/src/markerwithlabel_packed.js')
    script(src='/js/highcharts/highcharts.js')
    script
        var map;
        var markers = [];
        $(function () {

            $('.tabs a').on("click", function(e){
                $('.tabs a').removeClass('selected');
                $(this).addClass('selected');
                var index = $('.tabs a').index($(this));
                $('.main section').hide().eq(index).show();
                if(index === 1 && !map){
                    var pos = new google.maps.LatLng(36.6509970, 117.1204970);
                    var mapOptions = {
                      center: pos,
                      zoom: 4,
                      mapTypeId: google.maps.MapTypeId.ROADMAP
                    };

                    map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
                    loadMapMarker('省');
                    google.maps.event.addListener(map, 'zoom_changed', function() {
                        if(map.getZoom()>6 && map.level === '省'){
                            loadMapMarker('市');
                        }else if(map.getZoom()<=6 && map.level === '市'){
                            loadMapMarker('省');
                        }
                    });

                }else if(index === 2){

                }
            });

            var chart;

            $.ajax({
                url: '/manage/statistics/dayCount',
                dataType: 'json',
                cache: false
            }).done(function(result){
                chart = new Highcharts.Chart({
                    chart: {
                        renderTo: 'dayChart',
                        type: 'line'
                    },
                    title: {
                        text: '每日流量统计',
                        x: -20 //center
                    },
                    subtitle: {
                        text: '最近10天的访问计数',
                        x: -20
                    },
                    xAxis: {
                        categories: result.categories
                    },
                    yAxis: {
                        title: {
                            text: '访问量(PV)'
                        },
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }]
                    },
                    tooltip: {
                        formatter: function() {
                            return '<b>'+ this.series.name +'</b><br/>'+
                            this.x +': '+ this.y + '次';
                        }
                    },
                    plotOptions: {
                        line: {
                            dataLabels: {
                                enabled: true
                            },
                            enableMouseTracking: true
                        }
                    },
                    series: [{
                        name: '日流量',
                        data: result.data
                    }],
                    credits: {
                        enabled: false
                    }
                });
            });

            loadCompany(0,20);

        });

        function addMarker(item) {
            var marker = new MarkerWithLabel({
                position: new google.maps.LatLng(item.gisInfo.lat, item.gisInfo.lng),
                draggable: false,
                raiseOnDrag: false,
                map: map,
                title:item._id,
                labelContent: item.value,
                labelAnchor: new google.maps.Point(20, 0),
                labelClass: "labels", // the CSS class for the label
                labelStyle: {opacity: 1.00}
            });
            markers.push(marker);
        }

        function setAllMap(map) {
            for (var i = 0; i < markers.length; i++) {
              markers[i].setMap(map);
            }
        }

        function clearOverlays() {
            setAllMap(null);
            markers = [];
        }

        function loadMapMarker(level){
            var url = '';
            if(level === '省'){
                url = '/manage/statistics/gis/provinceCount?siteName=本地站点';
            }else if(level === '市'){
                url = '/manage/statistics/gis/cityCount?siteName=本地站点';
            }
            $.ajax({
                url: url,
                dataType: 'json',
                cache: false
            }).done(function(results){
                clearOverlays();
                var items = results.items;
                for(var i=0; i<items.length; i++){
                    var r = items[i];
                    if(r.gisInfo){
                        addMarker(r);
                    }
                }
                map.level = level;
            });

        }

        function loadCompany(pageNo, pageSize){
            if(pageNo >= 0){
                $('#companyPaginator').data('pageNo',pageNo);
            }else{
                pageNo = $('#companyPaginator').data('pageNo');
                pageNo = pageNo >=0 ? pageNo : 0;
            }
            if(pageSize >= 1){
                $('#companyPaginator').data('pageSize',pageSize);
            }else{
                pageSize = $('#companyPaginator').data('pageSize');
                pageSize = pageSize >=1 ? pageSize : 10;
            }
            $.ajax({
                url: '/manage/statistics/companyCount',
                dataType: 'json',
                data: {
                pageNo: pageNo,
                pageSize: pageSize
                },
                cache: false
            }).done(function(result){
                renderPaginator('companyPaginator', pageNo,result.totalCount,pageSize,loadCompany);
                var trHtmls = [];
                $.each(result.items, function(index,item){
                    trHtmls.push('<tr>');
                    trHtmls.push('<td style="width: 50px;text-align: center;">');
                    trHtmls.push(pageNo * pageSize +index+1);
                    trHtmls.push('</td>');
                    trHtmls.push('<td style="text-align: center;">');
                    trHtmls.push(item.day);
                    trHtmls.push('</td>');
                    trHtmls.push('<td style="text-align: center;">');
                    trHtmls.push(item.companyName);
                    trHtmls.push('</td>');
                    trHtmls.push('<td style="text-align: center;">');
                    trHtmls.push(item.host);
                    trHtmls.push('</td>');
                    trHtmls.push('<td style="text-align: right;">');
                    trHtmls.push(item.count);
                    trHtmls.push('</td>');
                    trHtmls.push('</tr>');
                });
                $('#companyBody').empty().html(trHtmls.join(''));
                $.each($('#companyBody tr'), function(index, tr){
                    $.data(tr,'item', result.items[index]);
                });
            });
        }


        function renderPaginator(ulId,pageNo, totalCount, pageSize ,load){
            var $ul = $('#'+ulId).empty();
            var totalPage = totalCount % pageSize === 0 ? parseInt(totalCount/pageSize) : parseInt(totalCount/pageSize) + 1;
            totalPage = totalPage ? totalPage : 0;
            if(totalPage === 0){
                pageNo = 0;
            }else if(pageNo > totalPage){
                pageNo = totalPage;
            }else if(pageNo < 1 && totalPage != 0){
                pageNo = 0;
            }
            //
            var $prev = $('<li><a>«</a></li>');
            if(pageNo<=0){
                $prev.addClass('disabled');
            }else{
                $prev.find('a').on('click', function(e){
                    e.preventDefault();
                    load(pageNo-1,pageSize)
                });
            }
            $ul.append($prev);
            /////
            var list = [1];
            for(var i= 0; i < 5; i++){
                var no = pageNo - 2 + i;
                if(i==0 && no > 3){
                    list.push('...');
                }
                if(no > 1 && no <= totalPage-1){
                    list.push(no);
                }
            }
            if(pageNo+2 < totalPage-1){
                list.push('...');
            }
            if(totalPage>1){
                list.push(totalPage);
            }
            $.each(list, function(index, item){
                var $li = $('<li><a></a></li>');
                if(item === '...'){
                    $li.find('a').text('...');
                }else if(item === pageNo+1){
                    $li.addClass('active').find('a').text(item);
                }else{
                    $li.find('a').text(item).prop('title','第'+item+'页').on('click', function(e){
                        e.preventDefault();
                        load(item-1,pageSize);
                    });
                }
                $ul.append($li);
            });
            //
            var $next = $('<li><a title="下一页">»</a></li>');
            if(pageNo+1>=totalPage){
                $next.addClass('disabled');
            }else{
                $next.find('a').on('click', function(e){
                    e.preventDefault();
                    load(pageNo+1,pageSize);
                });
            }
            $ul.append($next);
        }
