extends ../layout
block style
    style
        .chart{
            min-width: 400px;
            height: 400px;
            margin: 0 auto ;
        }

        .maps{
            min-width: 400px;
            height: 600px;
            margin: 0 auto ;
            border: 1px solid #b8bcc0;
        }
        .labels {
            color: black;
            background-color: transparent;
            font-family: "Lucida Grande", "Arial", sans-serif;
            font-size: 10px;
            font-weight: bold;
            text-align: center;
            width: 100px;
            border: 0;
        }

block body
    include ../includes/banner
    nav.nav
        div.navContent
            div.header
                h1 访问统计
                ul.tabs
                    li: a.selected 流量统计
                    li: a 地址分布
                    li: a 公司访问
            include ../includes/login
    div.main
        section
            p 描述
            div#dayChart.chart
        section(style='display:none;')
            p 描述
            div#map_canvas.maps
        section(style='display:none;')
            p 描述
            table.table.table-bordered.table-striped
                thead
                    tr
                        th(style="text-align: center;") 时间
                        th(style="text-align: center;") 公司名
                        th 域名
                        th(style="text-align: right;") 访问量(万)
                tbody#tzydtBody
                    tr
                        td(colspan="4",style="text-align: center;") 正在加载...
            div.pagination.pagination-right
                ul#tzydtPaginator
                    li
                        a(href="#") «
                    li
                        a(href="#") 1
                    li
                        a(href="#") 2
                    li
                        a(href="#") 3
                    li
                        a(href="#") 4
                    li
                        a ...
                    li
                        a(href="#") 12
                    li
                        a(href="#") »

block script
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBrDF1WpWGJlzMyNUs4rOZ-Lgz3nNYb6PQ&sensor=true')
    script(src='http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerwithlabel/1.1.5/src/markerwithlabel_packed.js')
    script(src='/js/highcharts/highcharts.js')
    script
        $(function () {
            var map;
            $('.tabs a').on("click", function(e){
                $('.tabs a').removeClass('selected');
                $(this).addClass('selected');
                var index = $('.tabs a').index($(this));
                $('.main section').hide().eq(index).show();
                if(index === 1 && !map){
                    var pos = new google.maps.LatLng(36.6509970, 117.1204970);
                    var mapOptions = {
                      center: pos,
                      zoom: 13,
                      mapTypeId: google.maps.MapTypeId.ROADMAP
                    };
                    map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
                    var marker = new google.maps.Marker({
                        position: pos,
                        map: map,
                        title: "354万"
                    });

                    var contentString = "<b>城市:</b> 济南 <br/> <b>访问量:</b> 345万";
                        var infowindow = new google.maps.InfoWindow({
                            content: contentString
                        });
                    //提示事件绑定
                    google.maps.event.addListener(marker, 'click', function() {
                        infowindow.open(map,marker);
                    })

                    var marker1 = new MarkerWithLabel({
                        position: new google.maps.LatLng(36.0670820,120.3826400),
                        draggable: true,
                        raiseOnDrag: true,
                        map: map,
                        labelContent: "3569",
                        labelAnchor: new google.maps.Point(50, 32),
                        labelClass: "labels", // the CSS class for the label
                        labelStyle: {opacity: 1.00}
                    });
                }else if(index === 2){

                }
            });

            var chart;

            $.ajax({
                url: '/manage/statistics/dayCount',
                dataType: 'json',
                cache: false
            }).done(function(result){
                chart = new Highcharts.Chart({
                    chart: {
                        renderTo: 'dayChart',
                        type: 'line'
                    },
                    title: {
                        text: '每日流量统计',
                        x: -20 //center
                    },
                    subtitle: {
                        text: '最近10天的访问计数',
                        x: -20
                    },
                    xAxis: {
                        categories: result.categories
                    },
                    yAxis: {
                        title: {
                            text: '访问量(PV)'
                        },
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }]
                    },
                    tooltip: {
                        formatter: function() {
                            return '<b>'+ this.series.name +'</b><br/>'+
                            this.x +': '+ this.y + '次';
                        }
                    },
                    plotOptions: {
                        line: {
                            dataLabels: {
                                enabled: true
                            },
                            enableMouseTracking: true
                        }
                    },
                    series: [{
                        name: '日流量',
                        data: result.data
                    }],
                    credits: {
                        enabled: false
                    }
                });
            });

        });
