.iclickWrapper {
    border: 1px solid #8ca4bc;
    width: 318px;
    padding: 2px;
    background: url(img/bg.gif) repeat-x center;
}

.iclickWrapper .iclickContent {
    width: 233px;
    padding-left: 75px;
    padding-right: 10px;
    background: url(img/logo.gif) no-repeat;
    text-align: center;
    font-family: 'Helvetica Neue', helvetica, arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    text-overflow: ellipsis;
}

.iclickWrapper .iclickContent a {
    color: #1f5697;
    text-decoration: none;
    line-height: 34px;
}

.iclickWrapper .iclickContent a.highlight {
    color: #f00;
}

.iclickWrapper .iclickContent a span {
    color: #898989;
    margin-right: 10px;
}